html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  background-color: white;
}
.main{
  display: flex;
  width: auto;
  background-color: black;
  justify-content: center;
}
.header{
  display: flex;
  width: 960px;
  height: 4rem;
  background-color: black;
  margin-top: 1rem;
  flex-wrap: wrap;
  }
.logo{
  width: 2rem;
  height: 1.5rem;
}
.text{
  color: white;
  width: 12rem;
  height: 1rem;
  margin-left: 4rem;
}
ul, li {
    padding: 0;
    list-style: none;
    font-size: 1rem;
    font-style: Helvetica;
    color: white;
  }
  p{
    font-size: 1rem;
    font-style: Helvetica;
    font-weight: bold;
    color: white;
    }
h2{
  font-style: Helvetica;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  }
.menu{
  display: flex;
  width: auto;
  height: 25rem;
  justify-content: center;
  background-image: url("file:///C:/cygwin64/home/Daniele/secretagentsupply/resources/images/moto.jpeg");
}
.menu-main{
  display: flex;
  width: 960px;
  height: auto;
  }
.news{
  display:flex;
  width: 20rem;
  height: 10rem;
  background-color: black;
  margin-top: 9rem;
  }
.testo{
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 20rem;
  height: 10rem;
  padding-left: 1rem;
  }
.main-categories{
  display: flex;
  justify-content: center;
  width: auto;
  height: 3rem;
  background-color: firebrick;
}
.categories{
  display: flex;
  width: 960px;
  height: 3rem;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1rem;
}
.eyewear,
.apparel,
.gadgets,
.vehicles,
.classes,-
.contract{
  font-size: 1rem;
  font-style: Helvetica;
  font-weight: bold;
  color: white;
}
.items{
  display: flex;
  width: auto;
  height: 28rem;
  justify-content: center;
}
.pictures{
  display: flex;
  width: 960px;
  height: 28rem;
  background-color: white;
  justify-content: center;
  flex-wrap: wrap;
}
.pics{
  display:flex;
  width: 960px;
  justify-content: space-between;
  padding-top: 3rem;
  }
.pen,
.watch,
.glasses{
  display:flex;
  width: 30%;
  height: 15rem;
  background-color: white;
  border: 4px solid black;
  }

  .image-text{
    display: flex;
    width: 288px;
    height: 3rem;
    background-color: black;
    font-style: Helvetica;
    color: white;
    margin-top: 3px;
    }

  .pen{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

  }
  .pen-image{
    display: flex;
    width: 165px;
    height: 160px;
    background-image: url("file:///C:/cygwin64/home/Daniele/secretagentsupply/resources/images/pen.png");
    background-size: 161px 166px;
    margin-top: 3rem;
    }
    .watch{
      display:flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  .watch-image{
    display: flex;
    width: 165px;
    height: 160px;
    background-image: url("file:///C:/cygwin64/home/Daniele/secretagentsupply/resources/images/watch.png");
    background-size: 163px 166px;
    margin-top: 3rem;
  }
  .glasses{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
  .glasses-image{
    display: flex;
    width: 165px;
    height: 160px;
    background-image: url("file:///C:/cygwin64/home/Daniele/secretagentsupply/resources/images/glasses.png");
    background-size: 163px 166px;
    margin-top: 3rem;
  }
  .infos{
  display: flex;
  width: 960px;
  justify-content: space-around;
}
.location,
.hours{
  display: flex;
  width: 35%;
  height: 4rem;
  background-color: black;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.infos-text{
  display: flex;
  width: 8rem;
  height: 2rem;
  font-style: Helvetica;
  color: white;
  padding-bottom: 1rem;
  padding-left: 2rem;
  }
  h3 .infos-text{
    text-align: center;
    padding-bottom: 1rem;
  }
.footer{
  display: flex;
  width: auto;
  width: auto;
  height: 18rem;
  justify-content: center;
}

.footer-item{
  display: flex;
  width: 960px;
  height: 15rem;
  background-color: black;
  justify-content:flex-start;
  align-items: center;
}
.footer-text{
  display: flex;
  width: 18rem;
  text-align: left;
  padding-left: 1rem;
}
.footer-align{
  font-style: Helvetica;
  color: white;
  font-weight: lighter;
  }
@media only screen and (max-width: 1024px)
{
  .pen,
  .watch,
  .glasses{
    display:flex;
    width: 47%;
    }
}
@media only screen and (max-width: 470px)
{
  p{
    font-size: 0,77rem;
    font-style: Helvetica;
    font-weight: bold;
    color: white;
  }
  h2{
    font-size: 1rem;
    font-style: Helvetica;
    font-weight: bold;
    color: white;
  }
  .pen,
  .watch,
  .glasses{
    display:flex;
    width: 90%;
    }
    .location,
    .hours{
      display: flex;
      width: 90%;
      }
      .gallery img{
    width: 100%;
    margin: 0;
  }
}
